@{
    ViewBag.Title = "Edit";
}

<h2 data-bind="text: 'View/Edit ' + Name()"></h2>
<div class="container">
    <div>
        <form role="form">
            <div class="row form-group">
                <label class="col-md-2">Child Id</label>
                <label class="col-md-2" data-bind="text: ChildId"></label>
            </div>
            <div class="row form-group">
                <label class="col-md-2" for="nameText">Name</label>
                <input class="col-md-2" data-bind="value: Name" id="nameText" />
            </div>
            <div class="row form-group">
                <label class="col-md-2" for="birthdayText">Birthday</label>
                <input class="col-md-2" data-bind="value: Birthday" id="birthdayText" />
            </div>
            <div class="row">
                <table class="table table-condensed table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>JobId</th>
                            <th>Description</th>
                            <th>Points</th>
                            <th>Selected</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: JobInfos()">
                        <tr>
                            <td data-bind="text: JobId"></td>
                            <td data-bind="text: Description"></td>
                            <td data-bind="text: PointValue"></td>
                            <td><input type="checkbox" data-bind="checked: IsJobSelected" /> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row form-group col-sm-offset-2">
                <a class="btn btn-success" onclick="saveChanges()">Save</a>
                <a class="btn btn-danger" href="~/Children/Index">Cancel</a>
            </div>
        </form>
    </div>
</div>

@Scripts.Render("~/bundles/jquery");
@Scripts.Render("~/bundles/knockout");
<script type="text/javascript">

    function ChildViewModel() {
        var self = this;
        self.ChildId = ko.observable();
        self.Name = ko.observable();
        self.Birthday = ko.observable(new Date());
        self.Jobs = ko.observableArray();
        self.JobInfos = ko.observableArray();
        self.LoadingText = ko.observable("Loading...");
    }

    function JobViewModel() {
        var self = this;
        self.JobId = ko.observable();
        self.Description = ko.observable();
        self.PointValue = ko.observable();
        self.IsJobSelected = ko.observable();
    }

    function loadChild() {
        $.getJSON("@ViewBag.ApiUrl", function (data) {
            viewModel.ChildId(data.ChildId);
            viewModel.Name(data.Name);
            viewModel.Birthday(data.Birthday);
            viewModel.Jobs(data.Jobs);

            viewModel.JobInfos([]);
            $.getJSON("@ViewBag.JobUrl", function (data) {
                $.each(data, function (index, value) {
                    var job = new JobViewModel();
                    job.JobId(value.JobId);
                    job.Description(value.Description);
                    job.PointValue(value.PointValue);
                    viewModel.JobInfos.push(job);
                });

                $.each(viewModel.JobInfos(), function (jobIndex, jobValue) {
                    $.each(viewModel.Jobs(), function (childJobIndex, childJobValue) {
                        if (jobValue.JobId() == childJobValue) {
                            jobValue.IsJobSelected(true);
                        }
                    });
                });
            });
        });
    }

    var viewModel = new ChildViewModel();
    ko.applyBindings(viewModel);


    $(document).ready(function () {
        loadChild();
    });

    function saveChanges() {
        viewModel.Jobs([]);
        console.debug(viewModel.Jobs());
        $.each(viewModel.JobInfos(), function (index, value) {
            if (value.IsJobSelected()) {
                viewModel.Jobs.push(value.JobId());
                console.debug("found job " + value.JobId());
            }
        });
        console.debug(viewModel.Jobs());
        console.debug(ko.toJS(viewModel));
        $.post("@ViewBag.ApiBaseUrl", ko.toJS(viewModel), function (data) {
            loadChild();
        });
    }
</script>