<h2>Children</h2>
<div class="row">
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr><th>Name</th><th>Birthday</th><th>Jobs</th><th></th></tr>
        </thead>
        <tbody data-bind="foreach: Children">
            <tr>
                <td><a data-bind="attr: {href: Url, title: Name}"><label data-bind="text: Name"></label></a></td>
                <td data-bind="text: Birthday"></td>
                @*<td data-bind="text: Jobs"></td>*@
                <td>
                    <ul data-bind="foreach: $data.JobInfos">
                        <li data-bind="text: description"></li>
                    </ul>
                </td>
                <td class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-bind="text: 'Edit', click: $root.setSelectedChild"></td>
            </tr>
        </tbody>
    </table>
    <label data-bind="text: LoadingText"></label>
</div>
<div class="row">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Launch demo modal
    </button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" data-bind="click: $root.cancelChanges"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Child</h4>
                </div>
                <div class="modal-body">
                    <div class="row" data-bind="with: selectedChild">
                        <label class="col-md-2" for="nameText">Name</label>
                        <input class="col-md-3" data-bind="value: Name" id="nameText" />
                    </div>
                    <div class="row">
                        <table class="table table-condensed">
                            <thead>
                                <tr><th>Job Description</th><th>Points</th><th>Selected</th></tr>
                            </thead>
                            <tbody data-bind="foreach: $root.allJobs">
                                <tr>
                                    <td data-bind="text: description"></td>
                                    <td data-bind="text: pointValue"></td>
                                    <td><input type="checkbox" data-bind="checked: isJobSelected" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" data-bind="click: $root.saveChild">Save changes</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" data-bind="click: $root.cancelChanges">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery");
@Scripts.Render("~/bundles/knockout");
<script type="text/javascript">
    function ChildrenViewModel() {
        var self = this;

        self.Children = ko.observableArray();
        self.allJobs = ko.observableArray();
        self.selectedChild = ko.observable();
        self.LoadingText = ko.observable("loading...");

        // Behaviors
        self.setSelectedChild = function (child) {
            self.selectedChild(child);
            setSelectedJobs(child);
        }

        self.cancelChanges = function () {
            loadChildren();
        }

        self.saveChild = function () {
            $.each(viewModel.allJobs(), function (index, value) {
                $.each(viewModel.selectedChild().JobInfos(), function (childJobIndex, childJobValue) {
                    childJobValue.isJobSelected(value.isJobSelected());
                });
            });
            viewModel.selectedChild().Jobs([]);
            $.each(viewModel.selectedChild().JobInfos(), function (index, value) {
                if (value.isJobSelected()) {
                    console.debug("selecting job " + value.jobId());
                    viewModel.selectedChild().Jobs.push(value.jobId());
                    console.debug("jobs: ", viewModel.selectedChild().Jobs());
                }
            });
            $.ajaxSetup({ async: false });
            console.debug("posting child " + viewModel.selectedChild().ChildId());
            @*$.post("@ViewBag.ApiUrl", ko.toJS(viewModel.selectedChild()), function (data) {
                //loadChildren();
            });*@
        }
    }

    function setSelectedJobs(child) {
        // clear them all out
        for (job in viewModel.allJobs()) {
            viewModel.allJobs()[job].isJobSelected(false);
        }

        // run through the lists and only select the ones that the child has
        for (j in child.Jobs()) {
            for (job in viewModel.allJobs()) {
                if (child.Jobs()[j] == viewModel.allJobs()[job].jobId()) {
                    viewModel.allJobs()[job].isJobSelected(true);
                }
            }
        }
    }

    function jobModel() {
        var self = this;
        self.jobId = ko.observable();
        self.description = ko.observable();
        self.pointValue = ko.observable();
        self.isJobSelected = ko.observable();
    }

    function ChildViewModel() {
        var self = this;
        self.ChildId = ko.observable();
        self.Name = ko.observable();
        self.Birthday = ko.observable(new Date());
        self.Jobs = ko.observableArray();
        self.JobInfos = ko.observableArray();
        self.Url = ko.observable();
    }

    var viewModel = new ChildrenViewModel();

    function loadJobs(observableArray) {
        viewModel.allJobs.destroyAll();
        $.ajaxSetup({ async: false });
        $.getJSON("@ViewBag.JobUrl", function (data) {
            for (var j in data) {
                var job = new jobModel();
                job.jobId(data[j].JobId);
                job.description(data[j].Description);
                job.pointValue(data[j].PointValue);
                job.isJobSelected(false);

                observableArray.push(job);
            }
        });
    }

    function loadChildren() {
        viewModel.LoadingText("I am loading up stuff. Hold your horses...");
        $.ajaxSetup({ async: false });
        $.getJSON("@ViewBag.ApiUrl", function (data) {
            for (var c in data) {
                var child = new ChildViewModel();
                child.Url("@Request.Url.Scheme" + ":" + "/Children/Edit/" + data[c].ChildId);
                child.Name(data[c].Name);
                child.Birthday(data[c].Birthday);
                child.Jobs(data[c].Jobs);
                child.ChildId(data[c].ChildId);
                viewModel.Children.push(child);
            }
            mapChildJobs();
        });

        viewModel.LoadingText("Ready");
    }

    function mapChildJobs() {
        $.each(viewModel.Children(), function (index, value) {
            $.each(viewModel.allJobs(), function (jobIndex, jobValue) {
                $.each(value.Jobs(), function (childJobIndex, childJobValue) {
                    if (childJobValue == jobValue.jobId()) {
                        value.JobInfos().push(jobValue);
                    }
                });
            });
        });
    }

    $(document).ready(function () {
        loadJobs(viewModel.allJobs);
        loadChildren();
        ko.applyBindings(viewModel);

    });
</script>
